<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRobotService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732//RobotService/RobotService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRobotService"
                contract="RobotServiceReference.IRobotService" name="WSHttpBinding_IRobotService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>